body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:284px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41 {
  position:absolute;
  left:129px;
  top:132px;
}
#u41_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:155px;
  height:183px;
  background-image:none;
}
#u41_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:62px;
  font-size:16px;
  text-align:left;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:151px;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:155px;
  height:62px;
  font-size:16px;
  text-align:left;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:151px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:155px;
  height:62px;
  font-size:16px;
  text-align:left;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:151px;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:71px;
  width:155px;
  height:62px;
  font-size:18px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:151px;
  word-wrap:break-word;
}
